<a href="https://colab.research.google.com/github/theheking/intro-to-python/blob/gh-pages/2_DataFrames_Filled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introducing... the DataFrame 

Objectives:
- Familiarise ourself with pandas
- Download data from a csv file into a dataframe
- Calculate statistics from the dataframe

In [16]:
# Download a file using python woo!
import urllib.request # this is the library we need 

url = 'https://raw.githubusercontent.com/theheking/intro-to-python/gh-pages/docs/patient_data.csv'
# This is getting the file

urllib.request.urlretrieve(url, 'patient_data.csv')

('patient_data.csv', <http.client.HTTPMessage at 0x7f5a837053a0>)

In [18]:
urllib.request.urlretrieve(url, 'patient_data.csv')

('patient_data.csv', <http.client.HTTPMessage at 0x7f5a83705d30>)

Next let's install the required packages for this workshop, by using ! we download and install directly into the notebook.

In [17]:
! pip install pandas matplotlib seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/dist-packages (0.12.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (23.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (4.39.3)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (5.12.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Pandas is a package. Packages are where functions are stored. You have to load a package in order to use the functions found within it.

In [19]:
#import pandas as a package
import pandas as pd 

#read in the patient data 
pd.read_csv('patient_data.csv', sep=',')

,patient_id,site_id,sex,time,year,month,day,illness,weight
0,1,2,M,9:27 am,2022,1,12,cold,27.0
1,2,3,M,10:57 am,2022,1,12,stabbing,37.0
2,3,2,F,4:33 pm,2022,1,12,faint,19.0
3,4,7,M,4:52 pm,2022,1,12,jaundice,19.0
4,5,3,M,7:26 pm,2022,1,12,NaN,36.0
...,...,...,...,...,...,...,...,...,...
1186,1187,16,F,4:00 pm,2022,11,8,myeloma,36.0
1187,1188,1,M,NaN,NaN,NaN,NaN,nstemi,35.0
1188,1189,4,F,9:45 am,2022,11,25,septic,37.0
1189,1190,13,M,8:05 am,2022,11,12,aortic anurysm,35.0
1190,1191,5,F,1:17 pm,2022,11,5,overdose,38.0

In [20]:
#we have read it in we haven't saved it to an object
patient_df = pd.read_csv("patient_data.csv") # This is assigning it to a variable
patient_df.head() # this prints out the first rows

   patient_id  site_id sex      time  year month day   illness  weight
0           1        2   M   9:27 am  2022     1  12      cold    27.0
1           2        3   M  10:57 am  2022     1  12  stabbing    37.0
2           3        2   F   4:33 pm  2022     1  12     faint    19.0
3           4        7   M   4:52 pm  2022     1  12  jaundice    19.0
4           5        3   M   7:26 pm  2022     1  12       NaN    36.0

In [21]:
# we can also check what type the DF is... 
print(type(patient_df)) # Can you guess?!
print(patient_df.dtypes) # What data types does it contain

<class 'pandas.core.frame.DataFrame'>
patient_id      int64
site_id         int64
sex            object
time           object
year           object
month          object
day            object
illness        object
weight        float64
dtype: object

## Accessing the data from the data frame

Now we have the data, we need to use pandas as a way of processing it. Checking out the documentation is always super helpful (https://pandas.pydata.org/docs/)! 

Thankfully with programming you will not have a closed book test ever so really capitalise on the resources you have online. 




#### What we are doing next: 
1. Subset the first 20 rows of the dataframe 
2. Subset the last 10 rows of the dataframe
3. Finding the columns in the dataframe

In [23]:
? pd.DataFrame.head

In [22]:
patient_df.head(20)

,patient_id,site_id,sex,time,year,month,day,illness,weight
0,1,2,M,9:27 am,2022,1,12,cold,27.0
1,2,3,M,10:57 am,2022,1,12,stabbing,37.0
2,3,2,F,4:33 pm,2022,1,12,faint,19.0
3,4,7,M,4:52 pm,2022,1,12,jaundice,19.0
4,5,3,M,7:26 pm,2022,1,12,NaN,36.0
5,6,1,M,6:24 am,2022,2,12,neck dissection,34.0
6,7,2,F,2:57 pm,2022,2,12,myeloma,20.0
7,8,1,M,3:45 pm,2022,2,12,nstemi,38.0
8,9,1,F,7:06 pm,2022,2,12,septic,29.0
9,10,6,F,3:23 am,2022,3,12,aortic anurysm,20.0
10,11,5,F,2:14 pm,2022,3,12,overdose,26.0
11,12,7,M,2:51 pm,2022,3,12,pe,20.0
12,13,3,M,11:08 pm,2022,3,12,urinary tract infection,20.0
13,14,8,NaN,11:35 pm,2022,3,12,fall,21.0
14,15,6,F,12:17 pm,2022,4,12,valve replacement,28.0
15,16,4,F,7:58 am,2022,5,12,stomach pump,20.0
16,17,3,F,8:39 am,2022,5,12,MVA,35.0
17,18,2,M,3:17 pm,2022,5,12,diabetic ketoacidosois,20.0
18,19,4,NaN,3:18 pm,2022,5,12,mva,20.0
19,20,11,F,5:34 pm,2022,5,12,NaN,26.0

In [24]:
patient_df.tail(20)

,patient_id,site_id,sex,time,year,month,day,illness,weight
1171,1172,6,F,12:24 am,2022,11,27,pe,20.0
1172,1173,13,F,11:00 am,2022,11,1,urinary tract infection,20.0
1173,1174,13,F,8:20 am,2022,11,28,fall,36.0
1174,1175,16,M,11:10 am,2022,11,3,valve replacement,37.0
1175,1176,18,F,2:47 pm,2022,10,29,stomach pump,21.0
1176,1177,14,M,7:49 pm,2022,12,2,MVA,NaN
1177,1178,16,M,10:30 am,2022,11,16,diabetic ketoacidosois,NaN
1178,1179,18,M,11:40 am,2022,11,1,mva,34.0
1179,1180,4,F,2:30 pm,2022,10,29,NaN,39.0
1180,1181,15,F,1:05 pm,2022,11,9,cold,36.0
1181,1182,1,F,2:39 pm,2022,11,4,stabbing,36.0
1182,1183,2,F,5:15 pm,2022,11,3,faint,35.0
1183,1184,14,F,11:37 am,2022,12,2,jaundice,27.0
1184,1185,1,F,NaN,NaN,NaN,NaN,NaN,37.0
1185,1186,4,F,4:00 am,2022,11,29,neck dissection,35.0
1186,1187,16,F,4:00 pm,2022,11,8,myeloma,36.0
1187,1188,1,M,NaN,NaN,NaN,NaN,nstemi,35.0
1188,1189,4,F,9:45 am,2022,11,25,septic,37.0
1189,1190,13,M,8:05 am,2022,11,12,aortic anurysm,35.0
1190,1191,5,F,1:17 pm,2022,11,5,overdose,38.0

In [25]:
patient_df.columns

Index(['patient_id', 'site_id', 'sex', 'time', 'year', 'month', 'day',
       'illness', 'weight'],
      dtype='object')

## Calculating Statistics From Data

So now the fun begins! You have to handle columns depending on what is in the column.

1. Find the unique data within categorical columns
2. Find data summaries of numerical columns

In [26]:
pd.unique(patient_df['illness'])

array(['cold', 'stabbing', 'faint', 'jaundice', nan, 'neck dissection',
       'myeloma', 'nstemi', 'septic', 'aortic anurysm', 'overdose', 'pe',
       'urinary tract infection', 'fall', 'valve replacement',
       'stomach pump', 'MVA', 'diabetic ketoacidosois', 'mva'],
      dtype=object)

In [27]:
patient_df['illness'].value_counts()

cold                       60
nstemi                     60
stabbing                   60
aortic anurysm             60
septic                     60
overdose                   60
myeloma                    60
neck dissection            60
jaundice                   60
faint                      60
pe                         59
urinary tract infection    59
fall                       59
valve replacement          59
stomach pump               59
MVA                        59
diabetic ketoacidosois     59
mva                        59
Name: illness, dtype: int64

In [29]:
# Next we might want to "describe" a column

patient_df['site_id'].describe()

count    1191.000000
mean       11.186398
std         6.555428
min         1.000000
25%         5.000000
50%        11.000000
75%        17.000000
max        23.000000
Name: site_id, dtype: float64

In [30]:
# Or you might want to extract specific values
print(patient_df['weight'].min())
print(patient_df['weight'].max())
print(patient_df['weight'].mean())
print(patient_df['weight'].std())
print(patient_df['weight'].count())

4.0
200.0
33.063655030800824
22.596147280680526
974

## Creating stats

Next we might want to create statistics on a subset of the data, for example, what is the weight if we subset first by sex?

In [33]:
# Group data by sex
grouped_data = patient_df.groupby('sex')

# Summary statistics for all numeric columns by sex
print(grouped_data.describe())

    patient_id                                                            \
         count        mean         std  min    25%    50%    75%     max
sex
F        519.0  625.845857  356.728090  3.0  320.5  650.0  944.5  1191.0
M        507.0  587.398422  352.667776  1.0  258.0  601.0  898.5  1190.0

    site_id             ...             weight                             \
      count       mean  ...   75%   max  count       mean        std  min
sex                     ...
F     519.0  11.190751  ...  17.0  23.0  437.0  31.228833  18.254264  4.0
M     507.0  10.921105  ...  17.0  23.0  416.0  35.478365  26.115305  4.0


      25%   50%   75%    max
sex
F    20.0  29.0  42.0  187.0
M    20.0  32.0  44.0  200.0

[2 rows x 24 columns]

In [34]:

# Provide the mean for each numeric column by sex
# As above, only the last command shows output below - you can try the others above in new cells
print(grouped_data.mean())

     patient_id    site_id     weight
sex
F    625.845857  11.190751  31.228833
M    587.398422  10.921105  35.478365

## Challenge - Summary Data

How many patients are female F and how many male M:  
```
A) 519 and 507
B) 507 and 519 
C) 509 and 507
D) 400 and 412
```

What happens when you group by two columns using the following syntax and then grab mean values:
```
grouped_data2 = patient_df.groupby(['site_id','sex'])
grouped_data2.mean()
```
Summarize weight values for each site in your data. HINT: you can use the following syntax to only create summary statistics for one column in your `data by_site['weight'].describe()`

In [37]:
grouped_data.describe()

grouped_data2 = patient_df.groupby(['site_id','sex'])
grouped_data2.mean()
grouped_data2['weight'].describe()

             count       mean        std   min    25%   50%    75%    max
site_id sex
1       F     28.0  35.000000  26.577629  11.0  22.00  29.0  39.50  158.0
        M     27.0  30.555556  13.287743   4.0  19.50  34.0  41.00   53.0
2       F     28.0  34.107143  32.415519   7.0  18.75  27.0  37.50  187.0
        M     54.0  34.388889  27.497799   8.0  19.00  29.0  43.50  178.0
3       F     11.0  31.363636  12.306687  14.0  23.50  30.0  39.00   50.0
        M     13.0  51.769231  51.016589  14.0  27.00  36.0  40.00  196.0
4       F     31.0  30.064516  16.053941   4.0  17.00  29.0  41.50   76.0
        M     18.0  30.444444  13.600269  11.0  18.00  29.0  38.75   59.0
5       F     29.0  30.620690  32.177425   8.0  13.00  23.0  38.00  182.0
        M     23.0  30.391304  15.455917   9.0  16.50  26.0  43.00   57.0
6       F     17.0  32.588235  10.960491  15.0  25.00  28.0  43.00   52.0
        M     21.0  33.761905   9.364319  19.0  27.00  35.0  41.00   46.0
7       F      3.0  28.000000  18.520259   7.0  21.00  35.0  38.50   42.0
        M      5.0  31.400000  12.116105  19.0  20.00  34.0  36.00   48.0
8       F     26.0  28.692308  12.399256   7.0  18.75  26.5  35.00   59.0
        M     11.0  45.636364  49.459625   7.0  24.00  33.0  44.00  190.0
9       F     33.0  29.757576  14.916497   7.0  17.00  26.0  44.00   57.0
        M     24.0  46.833333  45.333227   9.0  24.75  38.0  45.25  199.0
10      F      0.0        NaN        NaN   NaN    NaN   NaN    NaN    NaN
        M      0.0        NaN        NaN   NaN    NaN   NaN    NaN    NaN
11      F     26.0  30.307692  12.714619   8.0  21.50  29.0  39.75   55.0
        M     30.0  31.566667  19.352775  11.0  17.50  29.0  44.50  106.0
12      F     27.0  29.074074  13.170263   7.0  18.00  29.0  39.50   52.0
        M     25.0  31.840000  11.617802   8.0  21.00  29.0  41.00   53.0
13      F     17.0  32.176471  12.836643  16.0  20.00  31.0  41.00   57.0
        M     24.0  36.666667  18.241536   8.0  25.00  38.5  47.00   93.0
14      F     23.0  25.304348  13.854552   7.0  15.00  20.0  37.50   49.0
        M     15.0  41.333333  30.576991  14.0  20.00  41.0  47.50  140.0
15      F      7.0  33.000000  14.047538   8.0  27.50  36.0  42.00   48.0
        M      8.0  46.250000  58.628979  14.0  19.50  25.0  35.25  189.0
16      F      5.0  34.800000   9.038805  20.0  34.00  36.0  41.00   43.0
        M     10.0  33.400000   9.912954  21.0  25.50  33.0  38.50   50.0
17      F     43.0  29.186047  11.598965   8.0  20.00  26.0  38.00   50.0
        M     36.0  36.611111  32.900958  10.0  20.75  28.0  45.25  200.0
18      F     33.0  32.606061  14.153046  11.0  20.00  32.0  45.00   57.0
        M     26.0  36.692308  18.677835  16.0  28.00  31.0  43.25  110.0
19      F      4.0  39.250000   4.924429  35.0  35.00  39.0  43.25   44.0
        M      7.0  35.714286  11.426786  13.0  33.50  39.0  41.00   49.0
20      F     19.0  32.684211  14.118753   7.0  25.50  31.0  43.50   59.0
        M     19.0  28.894737   8.418859  15.0  21.50  28.0  36.00   44.0
21      F      5.0  26.000000  14.713939  11.0  14.00  28.0  29.00   48.0
        M      8.0  30.875000  12.264205  14.0  19.25  34.0  40.50   46.0
22      F     20.0  37.700000  21.516456   8.0  24.75  36.0  42.50  113.0
        M     10.0  31.200000  14.289079  13.0  19.50  31.5  44.50   48.0
23      F      2.0  40.500000   0.707107  40.0  40.25  40.5  40.75   41.0
        M      2.0  44.000000   2.828427  42.0  43.00  44.0  45.00   46.0

## Summary Counts in Pandas
First we number of samples for each . We can do this in a few ways, but we'll use groupby combined with a `count()` method.

In [ ]:
# Count the number of samples by species
patient_counts = patient_df.groupby('illness')['patient_id'].count()
print(patient_counts)

## Basic Math Functions

The nice thing about dataframes is that you can do math on them really easily which is awesome! 

So we can calculate the difference between columns, multiply them etc.

In [41]:
# Multiply all weight values by 2 but does not change the original weight data
patient_df['weight']*2

0       54.0
1       74.0
2       38.0
3       38.0
4       72.0
        ...
1186    72.0
1187    70.0
1188    74.0
1189    70.0
1190    76.0
Name: weight, Length: 1191, dtype: float64

In [40]:

patient_df.columns

Index(['patient_id', 'site_id', 'sex', 'time', 'year', 'month', 'day',
       'illness', 'weight'],
      dtype='object')

In [42]:
patient_df['weight_x_site'] = patient_df['weight']*patient_df['site_id']
patient_df['weight_x_site'] # Now you have it in a new column which is cool!

0        54.0
1       111.0
2        38.0
3       133.0
4       108.0
        ...
1186    576.0
1187     35.0
1188    148.0
1189    455.0
1190    190.0
Name: weight_x_site, Length: 1191, dtype: float64