<a href="https://colab.research.google.com/github/theheking/intro-to-python/blob/gh-pages/2_DataFrames_Filled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introducing... the DataFrame 

Objectives:
- Familiarise ourselves with pandas
- Download data using a CSV file into a data frame
- Calculate statistics from the data frame

In [ ]:
# Download a file using python
import urllib.request # this is the library we need 

url = 'https://raw.githubusercontent.com/theheking/intro-to-python/gh-pages/docs/patient_data.csv'

#retrieve the file
urllib.request.urlretrieve(url, 'patient_data.csv')

('patient_data.csv', <http.client.HTTPMessage at 0x7f46a44b4580>)

Next let's install the required packages for this workshop, by using ! we download and install directly into the notebook.

In [ ]:
! pip install pandas matplotlib seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.12.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Pandas is a package. Packages are where functions are stored. You have to load a package in order to use the functions found within it.

In [ ]:
#import pandas as a package
import pandas as pd 

#read in the patient data 
pd.read_csv('patient_data.csv', sep=',')

,patient_id,site_id,gender,time,year,month,day,illness,weight
0,1,2,M,9:27 am,2022.0,1.0,12.0,overdose,38.0
1,2,3,M,10:57 am,2022.0,1.0,12.0,valve replacement,40.0
2,3,2,F,4:33 pm,2022.0,1.0,12.0,MVA,74.0
3,4,7,M,4:52 pm,2022.0,1.0,12.0,aortic aneurysm,NaN
4,5,3,M,7:26 pm,2022.0,1.0,12.0,MVA,80.0
...,...,...,...,...,...,...,...,...,...
1186,1187,16,F,4:00 pm,2022.0,11.0,8.0,MVA,NaN
1187,1188,1,M,NaN,NaN,NaN,NaN,pe,NaN
1188,1189,4,F,9:45 am,2022.0,11.0,25.0,pleural effusion,82.0
1189,1190,13,M,8:05 am,2022.0,11.0,12.0,nstemi,NaN
1190,1191,5,F,1:17 pm,2022.0,11.0,5.0,diabetic ketoacidosois,54.0

In [ ]:
#we have read it in we haven't saved it to an object
patient_df = pd.read_csv("patient_data.csv") # This is assigning it to a variable
patient_df.head() # this prints out the first rows

,patient_id,site_id,gender,time,year,month,day,illness,weight
0,1,2,M,9:27 am,2022.0,1.0,12.0,overdose,38.0
1,2,3,M,10:57 am,2022.0,1.0,12.0,valve replacement,40.0
2,3,2,F,4:33 pm,2022.0,1.0,12.0,MVA,74.0
3,4,7,M,4:52 pm,2022.0,1.0,12.0,aortic aneurysm,NaN
4,5,3,M,7:26 pm,2022.0,1.0,12.0,MVA,80.0

In [ ]:
# we can also check what type the DF is... 
print(type(patient_df)) # Can you guess?!
print(patient_df.dtypes) # What data types does it contain

<class 'pandas.core.frame.DataFrame'>
patient_id      int64
site_id         int64
gender         object
time           object
year          float64
month         float64
day           float64
illness        object
weight        float64
dtype: object

## Accessing the data from the data frame

Now we have the data, we need to use pandas to process it. Checking out the documentation is always super helpful (https://pandas.pydata.org/docs/)! 

Thankfully, with programming, you will never have a closed book test, so capitalise on the resources you have online. 



#### What we are doing next: 
1. Subset the first 20 rows of the data frame 
2. Subset the last 10 rows of the data frame
3. Finding the columns in the data frame

In [ ]:
#check the head function
? pd.DataFrame.head

In [ ]:
#print the top 20 rows
patient_df.head(20)

,patient_id,site_id,gender,time,year,month,day,illness,weight
0,1,2,M,9:27 am,2022.0,1.0,12.0,overdose,38.0
1,2,3,M,10:57 am,2022.0,1.0,12.0,valve replacement,40.0
2,3,2,F,4:33 pm,2022.0,1.0,12.0,MVA,74.0
3,4,7,M,4:52 pm,2022.0,1.0,12.0,aortic aneurysm,NaN
4,5,3,M,7:26 pm,2022.0,1.0,12.0,MVA,80.0
5,6,1,M,6:24 am,2022.0,2.0,12.0,myeloma,NaN
6,7,2,F,2:57 pm,2022.0,2.0,12.0,septic,92.0
7,8,1,M,3:45 pm,2022.0,2.0,12.0,overdose,40.0
8,9,1,F,7:06 pm,2022.0,2.0,12.0,urinary tract infection,42.0
9,10,6,F,3:23 am,2022.0,3.0,12.0,pe,100.0
10,11,5,F,2:14 pm,2022.0,3.0,12.0,hyponatraemia,NaN
11,12,7,M,2:51 pm,2022.0,3.0,12.0,MVA,68.0
12,13,3,M,11:08 pm,2022.0,3.0,12.0,neck dissection,NaN
13,14,8,NaN,11:35 pm,2022.0,3.0,12.0,NaN,92.0
14,15,6,F,12:17 pm,2022.0,4.0,12.0,faint,88.0
15,16,4,F,7:58 am,2022.0,5.0,12.0,stomach pump,76.0
16,17,3,F,8:39 am,2022.0,5.0,12.0,pe,46.0
17,18,2,M,3:17 pm,2022.0,5.0,12.0,jaundice,58.0
18,19,4,NaN,3:18 pm,2022.0,5.0,12.0,jaundice,52.0
19,20,11,F,5:34 pm,2022.0,5.0,12.0,jaundice,52.0

In [ ]:
#print the final 20 rows
patient_df.tail(20)

,patient_id,site_id,gender,time,year,month,day,illness,weight
1171,1172,6,F,12:24 am,2022.0,11.0,27.0,MVA,48.0
1172,1173,13,F,11:00 am,2022.0,11.0,1.0,stabbing,84.0
1173,1174,13,F,8:20 am,2022.0,11.0,63.0,fall,52.0
1174,1175,16,M,11:10 am,2022.0,11.0,3.0,neck dissection,70.0
1175,1176,18,F,2:47 pm,2022.0,10.0,29.0,diabetic ketoacidosois,62.0
1176,1177,14,M,7:49 pm,2022.0,12.0,2.0,MVA,90.0
1177,1178,16,M,10:30 am,2022.0,11.0,16.0,fall,71.0
1178,1179,18,M,11:40 am,2022.0,11.0,1.0,NaN,NaN
1179,1180,4,F,2:30 pm,2022.0,10.0,29.0,nstemi,38.0
1180,1181,15,F,1:05 pm,2022.0,11.0,9.0,urinary tract infection,54.0
1181,1182,1,F,2:39 pm,2022.0,11.0,4.0,fall,51.0
1182,1183,2,F,5:15 pm,2022.0,11.0,3.0,myeloma,70.0
1183,1184,14,F,11:37 am,2022.0,12.0,2.0,myeloma,90.0
1184,1185,1,F,NaN,NaN,NaN,NaN,MVA,56.0
1185,1186,4,F,4:00 am,2022.0,11.0,29.0,pe,96.0
1186,1187,16,F,4:00 pm,2022.0,11.0,8.0,MVA,NaN
1187,1188,1,M,NaN,NaN,NaN,NaN,pe,NaN
1188,1189,4,F,9:45 am,2022.0,11.0,25.0,pleural effusion,82.0
1189,1190,13,M,8:05 am,2022.0,11.0,12.0,nstemi,NaN
1190,1191,5,F,1:17 pm,2022.0,11.0,5.0,diabetic ketoacidosois,54.0

In [ ]:
#print the columns 
patient_df.columns

Index(['patient_id', 'site_id', 'gender', 'time', 'year', 'month', 'day',
       'illness', 'weight'],
      dtype='object')

## Calculating Statistics From Data

So now the fun begins! First, you have to handle columns depending on what is in the column.

1. Find the unique data within categorical columns
2. Find data summaries of numerical columns

In [ ]:
#find the unique values in the illness 
pd.unique(patient_df['illness'])

array(['overdose', 'valve replacement', 'MVA', 'aortic aneurysm',
       'myeloma', 'septic', 'urinary tract infection', 'pe',
       'hyponatraemia', 'neck dissection', nan, 'faint', 'stomach pump',
       'jaundice', 'seizure', 'sob', 'diabetic ketoacidosois', 'stabbing',
       'fall', 'brainstem lesion', 'heart failure', 'nstemi', 'cold',
       'pleural effusion', 'acute asthma', 'lung transplant',
       'subdural haemotoma'], dtype=object)

In [ ]:
#use value counts to find the number of times a unique value occurs
patient_df['illness'].value_counts()

MVA                        116
aortic aneurysm             60
nstemi                      60
pe                          59
fall                        59
diabetic ketoacidosois      59
sob                         58
valve replacement           56
urinary tract infection     49
hyponatraemia               48
cold                        43
faint                       41
overdose                    40
myeloma                     38
stomach pump                37
stabbing                    35
acute asthma                33
septic                      32
neck dissection             28
jaundice                    27
lung transplant             23
brainstem lesion            23
heart failure               21
pleural effusion            16
seizure                     10
subdural haemotoma           4
Name: illness, dtype: int64

In [ ]:
# next we might want to "describe" the site id column
patient_df['site_id'].describe()

count    1191.000000
mean       11.186398
std         6.555428
min         1.000000
25%         5.000000
50%        11.000000
75%        17.000000
max        23.000000
Name: site_id, dtype: float64

In [ ]:
# extract specific values min max mean std count for weight
print(patient_df['weight'].min())
print(patient_df['weight'].max())
print(patient_df['weight'].mean())
print(patient_df['weight'].std())
print(patient_df['weight'].count())

14.0
398.0
71.09349593495935
37.358419043398506
984

## Creating stats

Next we might want to create statistics on a subset of the data, for example, what is the weight if we subset first by gender?

In [ ]:
# Group data by gender
grouped_data = patient_df.groupby('gender')

# Summary statistics for all numeric columns by gender
print(grouped_data.describe())

       patient_id                                                            \
            count        mean         std  min    25%    50%    75%     max
gender
F           519.0  625.845857  356.728090  3.0  320.5  650.0  944.5  1191.0
M           507.0  587.398422  352.667776  1.0  258.0  601.0  898.5  1190.0

       site_id             ...   day       weight                              \
         count       mean  ...   75%   max  count       mean        std   min
gender                     ...
F        519.0  11.190751  ...  23.0  63.0  431.0  69.320186  24.628676  18.0
M        507.0  10.921105  ...  23.0  63.0  415.0  73.440964  48.165884  14.0


         25%   50%   75%    max
gender
F       51.0  66.0  84.0  226.0
M       50.0  65.0  84.0  398.0

[2 rows x 48 columns]

In [ ]:
# Provide the mean for each numeric column by gender
# As above, only the last command shows output below - you can try the others above in new cells
print(grouped_data.mean())

        patient_id    site_id         year      month        day     weight
gender
F       625.845857  11.190751  2022.049310  10.240631  17.266272  69.320186
M       587.398422  10.921105  2021.814664  10.061100  17.419552  73.440964

<ipython-input-93-bba4e173eead>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grouped_data.mean())

## Poll

How many patients are female F and how many male M:  
```
A) 519 and 507
B) 507 and 519 
C) 509 and 507
D) 400 and 412
```

What happens when you group by two columns using the following syntax and then grab mean values:
```
grouped_data2 = patient_df.groupby(['site_id','gender'])
grouped_data2.mean()
```
Summarize weight values for each site in your data. HINT: you can use the following syntax to only create summary statistics for one column in your `data by_site['weight'].describe()`

In [ ]:
patient_df["gender"].value_counts()

F    519
M    507
Name: gender, dtype: int64

In [ ]:
#perform challenge
grouped_data2 = patient_df.groupby(['site_id','gender'])
grouped_data2.mean()

<ipython-input-99-e43a6bdeebc6>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data2.mean()

                patient_id         year      month        day      weight  \
site_id gender
1       F       705.827586  2022.074074   9.444444  19.111111   60.304348
        M       643.870968  2022.137931   8.793103  17.172414   72.720000
2       F       629.068966  2022.000000   9.965517  12.517241   64.240000
        M       571.637931  2022.127273   9.836364  14.545455   70.958333
3       F       496.083333  2022.166667   9.500000  21.250000   74.833333
        M       414.230769  2022.000000   8.916667  20.916667   58.555556
4       F       645.833333  2022.000000  10.771429  21.600000   69.300000
        M       753.200000  2022.050000  10.600000  17.300000   88.214286
5       F       576.193548  2022.000000  10.806452  20.161290   62.461538
        M       619.033333  2022.000000  10.633333  19.866667   70.173913
6       F       669.210526  2022.055556   9.555556  26.388889   71.933333
        M       581.380952  2022.047619  10.380952  20.047619   64.352941
7       F       115.333333  2022.000000  12.000000  15.666667   29.000000
        M        67.400000  2022.000000   8.000000  13.200000   71.000000
8       F       669.241379  2022.000000  11.034483  14.827586   69.923077
        M       703.461538  2022.000000  10.846154  10.538462   62.000000
9       F       663.581395  2022.071429  10.595238  14.214286   73.750000
        M       626.464286  2022.071429  10.464286  14.535714   84.150000
10      F        31.000000  2022.000000   7.000000  12.000000   86.000000
        M       201.000000  2022.000000  12.000000  16.000000   40.000000
11      F       593.000000  2022.064516   9.580645  19.741935   68.925926
        M       616.277778  2018.657143   9.400000  22.685714   81.750000
12      F       695.000000  2022.032258  10.709677  15.387097   56.571429
        M       669.259259  2022.076923  10.615385  19.269231   63.333333
13      F       646.650000  2022.050000  10.450000  20.300000   65.928571
        M       546.600000  2022.000000  10.692308  16.423077   64.615385
14      F       630.071429  2022.035714  10.428571  16.464286   69.958333
        M       550.681818  2022.045455  10.409091  17.954545   76.150000
15      F       616.200000  2022.000000   9.700000  12.900000   64.285714
        M       453.400000  2022.000000   9.333333  18.000000   66.181818
16      F       443.600000  2022.000000  10.444444  15.888889   59.428571
        M       773.692308  2022.076923  10.307692  14.769231   79.700000
17      F       650.163265  2022.108696   9.608696  15.347826   75.250000
        M       697.285714  2022.025000  10.475000  18.400000   69.891892
18      F       673.783784  2022.054054  10.540541  16.351351   73.827586
        M       622.250000  2022.074074  10.333333  17.962963   66.227273
19      F       373.800000  2022.000000  10.800000  17.200000   88.000000
        M       335.000000  2022.166667   9.750000  14.666667   91.000000
20      F       604.461538  2022.115385   9.769231  17.000000   81.857143
        M       493.107143  2022.071429   9.607143  17.392857   87.520000
21      F       562.571429  2022.000000  11.142857  20.285714   70.285714
        M       558.733333  2022.000000  10.142857  14.857143   74.214286
22      F       649.800000  2022.080000  10.040000  15.440000   72.590909
        M       491.666667  2022.000000   9.466667  18.266667   59.769231
23      F       108.500000  2022.000000  11.250000  17.750000   68.750000
        M        80.750000  2022.000000  12.000000  17.500000  222.000000

                weight_x_site
site_id gender
1       F           60.304348
        M           72.720000
2       F          128.480000
        M          141.916667
3       F          224.500000
        M          175.666667
4       F          277.200000
        M          352.857143
5       F          312.307692
        M          350.869565
6       F          431.600000
        M          386.117647
7       F          203.000000
        M          497.000000
8       F          559.384615
        M          496.000000
9       F          663.750000
        M          757.350000
10      F          860.000000
        M          400.000000
11      F          758.185185
        M          899.250000
12      F          678.857143
        M          760.000000
13      F          857.071429
        M          840.000000
14      F          979.416667
        M         1066.100000
15      F          964.285714
        M          992.727273
16      F          950.857143
        M         1275.200000
17      F         1279.250000
        M         1188.162162
18      F         1328.896552
        M         1192.090909
19      F         1672.000000
        M         1729.000000
20      F         1637.142857
        M         1750.400000
21      F         1476.000000
        M         1558.500000
22      F         1597.000000
        M         1314.923077
23      F         1581.250000
        M         5106.000000

In [ ]:
#looking at one column
grouped_data2['weight'].describe()

                count        mean         std   min     25%    50%     75%  \
site_id gender
1       F        23.0   60.304348   16.888497  40.0   48.50   56.0   71.00
        M        25.0   72.720000   60.859483  20.0   46.00   65.0   78.00
2       F        25.0   64.240000   21.405373  38.0   46.00   63.0   74.00
        M        48.0   70.958333   43.210498  18.0   48.00   61.5   83.75
3       F        12.0   74.833333   26.114550  42.0   48.25   80.0   90.50
        M         9.0   58.555556   15.387585  40.0   52.00   56.0   66.00
4       F        30.0   69.300000   19.839268  38.0   54.25   71.0   84.00
        M        14.0   88.214286   90.535313  40.0   52.50   64.5   72.00
5       F        26.0   62.461538   17.641385  30.0   51.25   58.0   76.25
        M        23.0   70.173913   49.967855  40.0   49.00   58.0   74.00
6       F        15.0   71.933333   20.547738  40.0   55.50   80.0   89.00
        M        17.0   64.352941   20.040400  38.0   48.00   60.0   80.00
7       F         2.0   29.000000   15.556349  18.0   23.50   29.0   34.50
        M         3.0   71.000000   23.643181  49.0   58.50   68.0   82.00
8       F        26.0   69.923077   17.879425  40.0   56.25   65.5   87.00
        M        11.0   62.000000   26.743223  20.0   46.00   56.0   83.00
9       F        36.0   73.750000   30.269622  18.0   55.50   70.0   88.00
        M        20.0   84.150000   71.901449  38.0   51.50   73.5   83.75
10      F         1.0   86.000000         NaN  86.0   86.00   86.0   86.00
        M         1.0   40.000000         NaN  40.0   40.00   40.0   40.00
11      F        27.0   68.925926   17.437638  40.0   51.50   72.0   84.00
        M        32.0   81.750000   62.713378  38.0   51.75   72.5   84.50
12      F        28.0   56.571429   16.455166  40.0   48.75   52.0   58.00
        M        21.0   63.333333   19.168551  20.0   50.00   62.0   72.00
13      F        14.0   65.928571   25.475371  40.0   47.00   56.0   83.00
        M        26.0   64.615385   22.627553  14.0   46.50   66.5   77.50
14      F        24.0   69.958333   18.150288  40.0   59.50   65.5   88.00
        M        20.0   76.150000   24.734964  40.0   53.50   82.0   94.50
15      F         7.0   64.285714   15.074419  44.0   52.00   66.0   77.00
        M        11.0   66.181818   23.789990  40.0   46.00   62.0   84.00
16      F         7.0   59.428571   19.932027  40.0   44.50   56.0   67.50
        M        10.0   79.700000   27.491615  40.0   70.00   71.0   89.50
17      F        40.0   75.250000   37.992408  38.0   53.50   64.0   76.50
        M        37.0   69.891892   22.789842  18.0   56.00   68.0   88.00
18      F        29.0   73.827586   25.509199  38.0   52.00   70.0   90.00
        M        22.0   66.227273   22.315768  20.0   50.25   63.0   83.50
19      F         5.0   88.000000   22.538855  66.0   70.00   86.0   96.00
        M        11.0   91.000000   63.297709  42.0   57.00   78.0   94.00
20      F        21.0   81.857143   35.430616  38.0   52.00   76.0  110.00
        M        25.0   87.520000   73.602604  40.0   58.00   66.0   80.00
21      F         7.0   70.285714   18.741347  40.0   63.00   72.0   78.00
        M        14.0   74.214286   20.027591  42.0   62.25   77.0   88.25
22      F        22.0   72.590909   20.804439  40.0   54.25   77.0   86.00
        M        13.0   59.769231   16.300071  42.0   50.00   54.0   62.00
23      F         4.0   68.750000   22.321514  50.0   50.75   64.5   82.50
        M         2.0  222.000000  240.416306  52.0  137.00  222.0  307.00

                  max
site_id gender
1       F        96.0
        M       350.0
2       F       104.0
        M       316.0
3       F       124.0
        M        83.0
4       F       104.0
        M       398.0
5       F        90.0
        M       286.0
6       F       100.0
        M       100.0
7       F        40.0
        M        96.0
8       F       100.0
        M       104.0
9       F       206.0
        M       380.0
10      F        86.0
        M        40.0
11      F        96.0
        M       374.0
12      F       106.0
        M        98.0
13      F       112.0
        M       104.0
14      F       104.0
        M       124.0
15      F        82.0
        M       106.0
16      F        96.0
        M       143.0
17      F       226.0
        M       118.0
18      F       152.0
        M       108.0
19      F       122.0
        M       272.0
20      F       186.0
        M       364.0
21      F        98.0
        M       112.0
22      F       114.0
        M        96.0
23      F        96.0
        M       392.0

## Summary Counts in Pandas
First, we number of patients for each. We can do this in a few ways, but we'll use `groupby` combined with a `count()` method.

In [ ]:
# Count the number of patients by illness
patient_counts = patient_df.groupby('illness')['patient_id'].count()
print(patient_counts)

illness
MVA                        116
acute asthma                33
aortic aneurysm             60
brainstem lesion            23
cold                        43
diabetic ketoacidosois      59
faint                       41
fall                        59
heart failure               21
hyponatraemia               48
jaundice                    27
lung transplant             23
myeloma                     38
neck dissection             28
nstemi                      60
overdose                    40
pe                          59
pleural effusion            16
seizure                     10
septic                      32
sob                         58
stabbing                    35
stomach pump                37
subdural haemotoma           4
urinary tract infection     49
valve replacement           56
Name: patient_id, dtype: int64

## Basic Math Functions

The nice thing about data frames is that you can do the math on them quickly, which is fantastic! 

So we can calculate the difference between columns, multiply them etc.

In [ ]:
# Multiply all weight values by 2 but does not change the original weight data
patient_df['weight']*2

0        76.0
1        80.0
2       148.0
3         NaN
4       160.0
        ...
1186      NaN
1187      NaN
1188    164.0
1189      NaN
1190    108.0
Name: weight, Length: 1191, dtype: float64

In [ ]:
patient_df['weight_x_site'] = patient_df['weight']*patient_df['site_id']
patient_df['weight_x_site'] # Now you have it in a new column which is cool!

0        76.0
1       120.0
2       148.0
3         NaN
4       240.0
        ...
1186      NaN
1187      NaN
1188    328.0
1189      NaN
1190    270.0
Name: weight_x_site, Length: 1191, dtype: float64